<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Desktop</title>
		<link
			rel="stylesheet"
			href="../pong/desktop/style.css"
			type="text/css"
			media="all"
		/>
	</head>
	<body>
		<canvas id="pong"></canvas>
		<script src="./../socket.io/socket.io.js"></script>
		<script src="../pong/desktop/app.js"></script>
	</body>
</html>
